@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ABC Company</h1>
    <p class="lead">Our General Store opened it's doors in 1977. Since them we have been the standard in providers of access to home-produced items, and specialty foods.</p>
    <p>@Html.ActionLink(HttpUtility.HtmlDecode("Learn More About Us &raquo;"), "About")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.<br />
            Come browse our products and see what we have for you.
        </p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Show Products &raquo;"), "Index", "Product", null, new { @class = "btn btn-primary btn-large"})</p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Here's a list of our best customers.</p>
        <br /><br /><br />
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Show Customers &raquo;"), "Index", "Customer", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Transactions</h2>
        <p>Here's a list of our transactions.</p>
        <br /><br /><br />
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Show Transactions &raquo;"), "Index", "Transaction", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>